{% extends 'sps-header.html' %}

{% block title %}Edit Task {% endblock %}

{% block body %}
<h3>Edit Task</h3>
<form action="/edit-task" method="post">
  Task description. The first line of the description will be used as the
  title of the task.
  <textarea  name="description">{{ task_description }}</textarea><br>
  <input type="hidden" name="domain" value="{{ domain_identifier }}">
  <input type="hidden" name="task_id" value="{{ task_identifier }}">
  <input type="submit" value="Change Description">
</form>
<br>

<h3>Move Task</h3>
<p>Assign this task '{{ task_title|escape }}' (and its subtasks) as a subtask of another task. Select the new parent task below.</p>

<form  action="/move-task" method="post">
  <input type="hidden" name="domain" value="{{ domain_identifier }}">
  <input type="hidden" name="task_id" value="{{ task_identifier }}">
  <table>
    {% for task in tasks %}
    {% include 'task-row-radio.html' %}
    {% endfor %}
  </table>
  <input type="submit" value="Move Task">
</form>

</body>
</html>
{% endblock %}
