{% include 'sps-header.html' %}

{% include 'new-task.html' %}

<center>
<ul class="segmented-control">
    <li {% if view_mode == 'all' %}class="active"{% endif %}>
      <a href="/d/{{ domain_identifier }}?view=all">All Tasks</a>
    </li>
    <li {% if view_mode == 'open' %}class="active"{% endif %}>
      <a href="/d/{{ domain_identifier }}?view=open">Open Tasks</a>
    </li>
    <li {% if view_mode == 'yours' %}class="active"{% endif %}>
      <a href="/d/{{ domain_identifier }}?view=yours">Your Tasks</a>
    </li>
</ul>
</center>

{% if tasks %}
<form>
  <table>
    {% for task in tasks %}
    {% include 'task-row.html' %}
    {% endfor %}
  </table>
</form>
{% else %}
<div class="empty-tasks-list">
<center><p>{{ no_tasks_message }}</p></center>
</div>
{% endif %}

</body>
</html>
