{% include 'sps-header.html' %}

<div class="breadcrumbs">
  <b>
    {% if parent_identifier %}
    <a href="/d/{{ domain_identifier }}/task/{{ parent_identifier }}?view={{ view_mode }}">{{ parent_title|escape }}</a>
    {% else %}
    <a href="/d/{{ domain_identifier }}?view={{view_mode}}">{{ domain_name|escape }}</a>
    {% endif %}
    {% if task_identifier %} / {{ task_title|escape }}{% endif %}
  </b>
</div>

{% if task_identifier %}
<div class="task-description">
<h2>{{ task_title|escape }}</h2>
{% if task_description %}
<div class="task-description-body">{{ task_description|markdown }}</div>
{% else %}
<div class="no-task-description-body">
  <center>
    <p>No extra description has been entered for this task.</p>
  </center>
</div>
{% endif %}
</div>


<div class="taskfooter">
{% if task_can_assign_to_self %}
<div style="float: left;">
<form action="/assign-task" method="post">
  <input type="submit" value="Assign to self">
  <input type="hidden" name="assignee" value="{{ user_identifier }}">
  <input type="hidden" name="id" value="{{ task_identifier }}">
  <input type="hidden" name="domain" value="{{ domain_identifier }}">
</form>
</div>
{% else %}
{% if task_assignee %}
<div style="float: left;">
  <p>Assigned to {{ task_assignee|escape }}</p>
</div>
{% endif %}
{% endif %}
{% if task_can_edit %}
<div style="float: right;">
  <a href="/d/{{ domain_identifier }}/task/{{ task_identifier }}/edit">edit this task</a>
</div>
{% endif %}
</div>
<hr>

{% endif %}

<center>
<ul class="segmented-control">
    <li {% if view_mode == 'all' %}class="active"{% endif %}>
      <a href="{{ base_url }}?view=all">All Tasks</a>
    </li>
    <li {% if view_mode == 'open' %}class="active"{% endif %}>
      <a href="{{ base_url }}?view=open">Open Tasks</a>
    </li>
    <li {% if view_mode == 'yours' %}class="active"{% endif %}>
      <a href="{{ base_url }}?view=yours">Your Tasks</a>
    </li>
</ul>
</center>

<table>
  {% for task in subtasks %}
  {% include 'task-row.html' %}
  {% else %}
  <div class="no-tasks">
    <center>
      <p>{{ no_tasks_description }}</p>
    </center>
  </div>
  {% endfor %}
</table>

</body>
</html>
